{% extends 'base.html' %}
{% block content %}
<form method="post">
<div>
<label>First name <input name="first_name" required></label>
<label>Last name <input name="last_name" required></label>
</div>
<div>
<label>DOB <input name="dob" type="date" required></label>
</div>
<div>
<label>Email <input name="email_addr" type="email" required></label>
<label>Phone <input name="phone_number" required></label>
</div>
<div>
<label>Initial Balance <input name="account_balance" type="number" step="0.01" min="0" value="0"></label>
</div>
<button type="submit">Create</button>
</form>
{% endblock %}
